* {
  margin: 0;
  padding: 0 ;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-image: url('images/bg.jpg');
  background-size: cover;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 22px;
}

h1 {
  color: goldenrod;
  margin-top: 12%;
}

#message-el {
  font-style: italic;
}

p {
  padding: 10px;
}

button {
  color: #016f32;
  width: 150px;
  background-color: goldenrod;
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 2px;
  text-transform: uppercase;
  margin-top: 2px;
  margin-bottom: 2px;
}

button:active {
  border: 4px solid black;
}

#apple-shelf {
    background: lightcoral;
    border-radius: 10px;
    height: 30px;
    margin: 10px 0;
}

#orange-shelf {
    background: lightsalmon;
    border-radius: 10px;
    height: 30px;
}